@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;

}

html, body{
    width: 100%;
    height: 100%;
    background-color: #faf9f9;
}

#page1{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    padding: 0 3vw;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 3vw 0;
}

nav img{
    width: 8%;
}

#links{
    display: flex;
    gap: 1vw;
}
nav h4{
    color: #000000cc;
    font-size: 1vw;
    padding: 1vw 2vw;
    border: 1px solid rgba(0, 0, 0, 0.301);
    border-radius: 50px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
    cursor: pointer;
}

nav h4 a{
    text-decoration: none;
    color: #000000cc;
    z-index: 9;
    position: relative;
    font-weight: 700;
}

nav h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

nav h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

nav h4:hover a{
    color: #faf9f9;
}

#center{
    width: 100%;
    height: 65vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.397);
    padding-bottom: 7vw;
}

#center p {
    width: 28vw;
    font-weight: 600;
    font-size: 2vw;
    line-height: 1.2;
}

#center h1{
    width: 40vw;
    font-size: 10vw;
    text-align: end;
    font-weight: 600;
    line-height: .8;
}

#hero-shape{
    width: 46vw;
    height: 36vw;
    top: 68vh;
    position: absolute;
    right: 0;

}
#hero-1{
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #FE330A, #fe630a);
    filter: blur(15px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
#hero-2{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(to top, #FE330A, #fe630a);
    filter: blur(25px);
    border-radius: 50%;
    animation: anime2;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#hero-3{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(to top right, #FE330A, #fe630a);
    filter: blur(25px);
    border-radius: 50%;
    animation: anime;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#page1 video{
    margin-top: 5vw;
    width: 100%;
    border-radius: 2vw;
    position: relative;
}

#page2{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0;
}

#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: none;
}
.con{
    white-space: nowrap;
    display: inline-block;
    animation: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.circle{
    height: 4vw;
    width: 4vw;
    background-color: #FE330A;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 3vw;
}

#moving-text h1{
    display: inline-block;
    font-size: 9vw;
}

#p2-btm{
    height: 80vh;
    width: 100%;
    justify-content: space-between;
    padding: 6vw;
    display: flex;
    align-items: center;
}

#p2-btm h2{
    font-size: 4vw;
    font-weight: 600;
    line-height: 1;
    width: 60%;
    z-index: 1;
}

#p2-btm-2{
    margin-top: 25vw;
    width: 23%; 
    z-index: 1;
}

#p2-btm-2 img{
    width: 100%;
    margin-bottom: 2vw;
    border-radius: 1vw;
}

#animcircle{
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient( to top, #FE330A, #fe630a);
    filter: blur(35px);
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    animation: circleanim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

#page3{
    width: 100%;
    min-height: 100vh;
}

#page3>h4{
    margin-left: 2vw;
    display: flex;
    align-items: center;
    gap: .5vw;
    font-size: 1.2vw;
    font-weight: 400;
    margin-bottom: 5vw;
}

#page3>h4 span img{
    width: .6vw;
}

.elem{
    height: 13vh;
    width: 100%;
    align-items: center;
    display: flex;
    padding: 0 2vw;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
    overflow: hidden;
    justify-content: space-between;
    cursor: pointer;
}

.elem h3{
    font-size: 3vw;
    z-index: 9;
    font-weight: 600;
}

.r-text{
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 9;
}
.r-text h6{
    font-size: 1.2vw;
    font-weight: 600;
}
.r-text p{
    opacity: .6;
    font-size: 1.4vw;
}
.elem .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -100%;
    background-color: #FF9831;
    transition: all 0.4s ease;
}
.elem:hover .overlay{
    top: 0;
}

#fixed-image{
    height: 30vw;
    width: 25vw;
    border-radius: 1vw;
    left: 50%;
    top: 25%;
    z-index: 99;
    position: fixed;
    transition: all 0.4s ease;
    background-color: red;
    opacity: 0;
    pointer-events: none;
    background-position: center;
    background-size: cover;
}   
#page4{
    height: 100vh;
    width: 100%;
    position: relative;
}

@keyframes circleanim {
    from{
        transform: translate(10%, -10%) skew(0deg);
    }
    to{
        transform: translate(-10%, 10%) skew(-6deg);
    }
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes anime {
    from{
        transform: translate(45%,-10%);
    }
    to{
        transform: translate(-5%,10%);
    }
}

@keyframes anime2 {
    from{
        transform: translate(10%,-10%);
    }
    to{
        transform: translate(-10%,10%);
    }
}